body {
    background-image: url('../images/bg1.png');
    font: normal 25px Arial,Helvetica,sans-serif;
    word-wrap:break-word;
    color:#eee;
}


#countdown #tiles{position: relative;z-index:1}
#countdown #tiles > span{width:144px; height: 144px;max-width:144px;font:bold 85px 'Droid Sans',Arial,sans-serif;text-align:center;color:#fff;background-color:#ff7f17;background-image:-webkit-linear-gradient#ff7f17;background-image:-moz-linear-gradient(top,#bbb,#eee);background-image:-ms-linear-gradient(top,#bbb,#eee);background-image:#ff7f17;border-top:1px solid #fff;border-radius:3px;box-shadow:0 0 12px #ff7f17;margin:0 7px;padding:18px 0;display:inline-block;position:relative}
#countdown #tiles > span:before{content:"";width:100%;height:13px;background:#ff7f17;display:block;padding:0 3px;position:absolute;top:41%;left:-3px;z-index:-1}
#countdown #tiles > span:after{content:"";width:100%;height:1px;background:#ff7f17;border-top:1px solid #333;display:block;position:absolute;top:48%;left:0}

span {
    margin-top: 40px !important;
    border-radius: 40px;
    padding-top: 20px !important;
    margin-left: 45px !important;
}

.timer h1 {
    color: #ff7f17;
    margin-left: 5%;
}

.label {
    display: flex;
    justify-content: center;
}



.timer-rectangle {
    width: 857px;
    height: 274px;
    border: 12px solid #ff7f17;
    border-radius: 20px;
    margin-left: 15%;
    margin-top: 20%;
}

@media screen and (max-width: 850px) {
    #countdown #tiles > span{
        font-size: 48px !important;
        width:80px;
        height:80px;
        padding: 0;
        margin: auto 0;
        line-height: 40px;
    }

    .label{
        margin-left: 0px;
    }

    .label h1{
        font-size: 20px;
        margin-left: 65px;
    }
}

@media screen and (max-width: 600px) {
    #countdown #tiles > span{
        font-size: 20px !important;
        width:40px;
        height:40px;
        padding: 0;
        margin: auto 0;
        line-height: 0px;
    }

    .label{
        margin-left: -0px
        
    }

    .label h1{
        font-size: 16px;
        font-weight: bold;
        margin: 0 0 0 10px !important;
    }
    
    span {
        margin-left:10px !important;
    }
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    position: relative;
}

section.timer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.timer-rectangle {
    margin: 0;
    width: 100%;
    height: auto;
}

div#tiles {
    display: flex;
    justify-content: center;
}
